In [1]:
import pandas as pd
import sqlite3

In [2]:
order_df=pd.read_csv('customer_orders.csv')
payment_df=pd.read_csv('payments.csv')

In [50]:
conn = sqlite3.connect('internship_project.db')
cursor = conn.cursor()

In [53]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS customer_orders (
        order_id TEXT PRIMARY KEY,
        customer_id INTEGER,
        order_date TEXT,
        order_amount REAL,
        shipping_address TEXT,
        order_status TEXT
    )
''')

In [52]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS payments (
        payment_id TEXT PRIMARY KEY,
        order_id TEXT,
        payment_date TEXT,
        payment_amount REAL,
        payment_method TEXT,
        payment_status TEXT,
        FOREIGN KEY (order_id) REFERENCES customer_orders(order_id)
    )
''')

conn.commit()

In [61]:

order_df.to_sql('customer_orders', conn, if_exists='replace', index=False)
payment_df.to_sql('payments', conn, if_exists='replace', index=False)

15000

In [54]:
print("\n Orders by Status:")
query1 = """
SELECT order_status, COUNT(*) AS number_of_orders
FROM customer_orders
GROUP BY order_status
ORDER BY number_of_orders DESC;
"""
print(pd.read_sql(query1, conn))

 Orders by Status:
  order_status  number_of_orders
0      pending              5069
1    delivered              5057
2      shipped              4874

In [55]:

print("\n Total Sales Per Month:")
query2 = """
SELECT 
    substr(order_date, 1, 7) AS month,
    SUM(order_amount) AS total_sales
FROM customer_orders
GROUP BY month
ORDER BY month;
"""
print(pd.read_sql(query2, conn))

 Total Sales Per Month:
      month  total_sales
0   2020-01     60638.78
1   2020-02     61461.48
2   2020-03     54706.72
3   2020-04     56073.18
4   2020-05     58426.84
..      ...          ...
59  2024-12     57256.38
60  2025-01     58413.77
61  2025-02     57557.77
62  2025-03     64379.46
63  2025-04     57148.69

[64 rows x 2 columns]

In [56]:
print("\n Repeat Customers:")
query3 = """
SELECT customer_id, COUNT(*) AS number_of_orders
FROM customer_orders
GROUP BY customer_id
HAVING number_of_orders > 1
ORDER BY number_of_orders DESC;
"""
print(pd.read_sql(query3, conn))

 Repeat Customers:
      customer_id  number_of_orders
0            2633                 8
1            9955                 7
2            9476                 7
3            9243                 7
4            8231                 7
...           ...               ...
4397         1013                 2
4398         1005                 2
4399         1004                 2
4400         1003                 2
4401         1000                 2

[4402 rows x 2 columns]

In [57]:
print("\n Payment Status Breakdown:")
query4 = """
SELECT payment_status, COUNT(*) AS number_of_payments
FROM payments
GROUP BY payment_status;
"""
print(pd.read_sql(query4, conn))

 Payment Status Breakdown:
  payment_status  number_of_payments
0      completed                4991
1         failed                5003
2        pending                5006

In [62]:
print(' \n                                 Orders WITHOUT Payments')
query5="""select count(*)(SELECT 
    o.order_id,
    o.customer_id,
    o.order_date,
    o.order_amount,
    o.order_status
FROM customer_orders o
LEFT JOIN payments p
ON o.order_id = p.order_id
WHERE p.payment_id IS NULL
ORDER BY o.order_date DESC);"""
print(pd.read_sql(query5,conn))

                                 Orders WITHOUT Payments

DatabaseError: Execution failed on sql 'select count(*)(SELECT
    o.order_id,
    o.customer_id,
    o.order_date,
    o.order_amount,
    o.order_status
FROM customer_orders o
LEFT JOIN payments p
ON o.order_id = p.order_id
WHERE p.payment_id IS NULL
ORDER BY o.order_date DESC);': near "(": syntax error

In [64]:
print('Orders WITH Failed Payments')
query6="""SELECT 
    o.order_id,
    o.customer_id,
    o.order_date,
    o.order_amount,
    o.order_status,
    p.payment_id,
    p.payment_date,
    p.payment_amount,
    p.payment_method,
    p.payment_status
FROM customer_orders o
INNER JOIN payments p
ON o.order_id = p.order_id
WHERE p.payment_status = 'failed'
ORDER BY p.payment_date DESC;
"""
print(pd.read_sql(query6,conn))

Orders WITH Failed Payments
                                  order_id  customer_id  order_date  \
0     635ca627-3582-439f-9a63-86ff2358e242         9748  2023-08-18
1     5101faa8-e52d-41c5-b9d4-3fe7d0db4300         1674  2025-01-04
2     96c9d69d-25d8-4318-99d9-ca943289b9aa         2529  2021-05-16
3     1b045524-9878-4a6c-af4a-283a02e5f6af         9324  2024-06-14
4     341432e7-f71b-4727-aacb-3c965b02c5cd         1747  2023-09-10
...                                    ...          ...         ...
4998  49877ab1-d321-4664-8531-d328fb94d847         1811  2020-08-09
4999  219a6911-cefb-4cbe-8a9a-2954567e811e         1301  2022-10-17
5000  cf43a1e2-854e-49dc-b71e-9a7e21a7243e         6105  2020-02-14
5001  08d2bb67-b778-47ec-92a6-68c08feb5c48         4971  2022-09-05
5002  7a640675-c048-4da1-a97e-cfaa1b5f9ee5         6340  2020-06-28

      order_amount order_status                            payment_id  \
0            70.83      pending  26b8b3a3-bb49-42f1-aba0-0a3a86a88bc9
1           166.47    delivered  abaf59b2-85ed-402c-b4f4-05fb06280de1
2           345.34    delivered  e9ed5515-8de3-4e04-96ec-30dcd339071e
3           327.05      pending  a6a893d6-71af-421f-ad01-0994033dcc9d
4           383.59    delivered  5858027e-a4b6-47d4-98d5-368110063e14
...            ...          ...                                   ...
4998        466.07    delivered  6f902e43-b8bc-4ea9-90cc-6912df56b3e4
4999         66.61      shipped  11edb291-63ef-4950-9503-aaa1dee68991
5000        358.56    delivered  33a541f7-247b-4cdc-a3f7-14cf09e5412e
5001        216.75    delivered  80dd753d-bf61-4125-9554-f44f6e44e3f8
5002        250.29      pending  ec117f47-2c4f-45fd-ad72-494297d948b2

     payment_date  payment_amount payment_method payment_status
0      2025-04-27          124.63         paypal         failed
1      2025-04-27           30.11  bank transfer         failed
2      2025-04-27          150.48         paypal         failed
3      2025-04-26          439.46         paypal         failed
4      2025-04-25           25.93    credit card         failed
...           ...             ...            ...            ...
4998   2020-01-02          208.66  bank transfer         failed
4999   2020-01-02           99.67    credit card         failed
5000   2020-01-01          375.14    credit card         failed
5001   2020-01-01          389.06    credit card         failed
5002   2020-01-01          403.19  bank transfer         failed

[5003 rows x 10 columns]

In [65]:
order_df['order_status'].value_counts()

pending      5069
delivered    5057
shipped      4874
Name: order_status, dtype: int64